/* top */

.show_book_top {
  background-color: #f5f5f5;
}

.show_book_img {
  height: 400px;
  width: 800px;
  margin: 0 auto;
}

/* main */

.show_book_main {
  margin: 40px 0;
}

.show_book_main_title {
  color: #465902;
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

table {
  margin: 0 auto;
}

th {
  width: 200px;
  line-height: 70px;
}

td {
  width: 600px;
  font-weight: bold;
  padding: 20px 40px;
}

table,th,td {
  border: 1px solid #4F7302;
  border-collapse: collapse;
}

/* edit,destroy btn */

.show_book_btns {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.show_book_btn {
  color: white;
  background-color: #F68326;
  font-size: 16px;
  font-weight: bold;
  width: 15vw;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 20px;
  border-bottom: 4px solid #c26a22;
  outline: none;
}

.show_book_btn:hover {
  opacity: 0.8;
}

.show_book_btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

@media (max-width: 599px) {

  .show_book_img {
    height: 300px;
  }

  .show_book_main_title {
    font-size: 30px;
  }

  th {
    line-height: 30px;
    width: 30%;
  }

  .show_book_btn {
    width: 35vw;
  }
}