/* top */

.top_first {
  width: 100%;
  height: 630px;
  background-image: url("/images/book_top.jpg");
  background-size: cover;
  position: relative;
}

.top_first_title {
  /* padding-top: 300px; */
  color: rgb(230, 230, 220);
  font-size: 50px;
  text-align: end;
  position: absolute;
  right: 50px;
  bottom: 50px;
}

/* top_main */

.top_main {
  margin-top: 80px;
}

.top_main_title {
  color: rgb(11, 65, 11);
  border-bottom: solid 2px rgb(1, 130, 1);
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}

.top_users {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top_user {
  align-items: center;
  display: flex;
  border: solid 2px rgb(1, 130, 1);
  margin-bottom: 30px;
  width: 40vw;
  padding: 10px
  
}

.top_user:hover {
  border: solid 3px rgb(1, 130, 1);
}

.top_user_right {
  padding: 10px;
  color: #333333;
  font-size: 20px;
  font-weight: bold;
}


@media (max-width: 1024px) {

  .top_first {
    height: 400px;
  }

  .top_first_title {
    font-size: 40px;
  }

  .top_users {
    display: block;
  }

  .top_user {
    width: 90%;
    margin: 40px auto;
  }
}

@media (max-width: 599px) {
  .top_first {
    height: 300px;
  }
  .top_first_title {
    font-size: 30px;
    right: 10px;
    bottom: 10px;
  }
  .top_main_title {
    font-size: 30px;
  }

  .top_user_right  {
    font-size: 15px;
  }
}

