/* show_first */

.show_first {
  width: 100%;
  height: 400px;
  background-image: url("/images/book_mypage-1.jpg");
  background-size: cover;
  position: relative;
}

.show_first_title {
  position: absolute;
  right: 150px;
  bottom: 100px;
  color: white;
  font-size: 50px;
  text-align: end;
}

/* show_main_user */

.show_main {
  margin: 80px 0;
}

.show_main_title_content {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.show_main_title {
  color: #465902;
  font-size: 40px;
  position: relative;
}

.user_edit_btn {
  position: absolute;
  right: 150px;
  color: rgb(230, 230, 220);
  background-color: #F68326;
  font-size: 16px;
  font-weight: bold;
  width: 150px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 4px solid #c26a22;
  outline: none;
}

.user_edit_btn:hover {
  opacity: 0.8;
}

.user_edit_btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

.show_user {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #4F7302;
  margin-bottom: 80px;
  padding: 10px 50px;
}

.show_user_right {
  padding: 10px 30px;
  color: #333333;
  font-size: 20px;
  font-weight: bold;
}

/* show_main_books */

.show_user_books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.show_user_book {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  border: solid 1px #4F7302;
  margin: 30px 0;
}

.show_user_book:hover {
  border: solid 3px #4F7302;
}

.show_user_book_image {
  margin: 10px auto 20px;
  height: 150px;
}

@media (max-width: 1024px) {

  .show_first {
    height: 400px;
  }

  .show_first_title {
    font-size: 40px;
    bottom: 50px;
    right: 100px;
  }

  .show_user {
    padding: 10px 30px;
  }

  .show_user_img {
    margin: 0 auto;
    width: 230px;
  }

  .show_user_right {
    font-size: 16px;
  }

  .user_edit_btn {
    right: 50px;
    width: 100px;
  }
}

@media (max-width: 599px) {
  .show_first {
    height: 300px;
  }

  .show_first_title {
    font-size: 25px;
    right: 30px;
    bottom: 40px;
  }

  .show_main_title {
    font-size: 30px;
  }


  .show_user {
    display: block;
    padding: 10px;
    width: 90%;
    margin: 30px auto;
  }

  .show_user_left {
    margin: 0 auto;
  }


  .show_user_books {
    display: block;
  }

  .show_user_book {
    padding: 10px;
    width: 90%;
    margin: 30px auto;
  }

  .show_user_book_image {
    margin: 5px auto 10px;
    height: 100px;
  }

  .user_edit_btn {
    right: 20px;
    width: 60px;
    height: 30px;
    font-size: 10px;
  }
}